body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

figure {
  margin: 0;
}

/* HEADER */
.header-wrap {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.clock {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.24px;
  color: #000000;
  margin-left: 16px;
}
.icons > li > a {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 67px;
  align-self: center;
}

.network {
  width: 17px;
  height: 11px;
  background: url(../assets/images/network.svg);
}

.wifi {
  width: 16px;
  height: 11px;
  background: url(../assets/images/wifi.svg);
}

.battary {
  width: 25px;
  height: 11px;
  background: url(../assets/images/battary.svg);
}

/* FOOTER */

.footer-wrap {
  height: 86px;
  padding: 0 34px;
  margin: 15px 0;
  background: #ffffff;
  box-shadow: 0px -8px 32px rgba(70, 96, 135, 0.1);
}

.footer-icons > li > a {
  width: 20px;
  height: 20px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding-top: 15px;
  margin-bottom: 38px;
}

.home-icon {
  background: url(../assets/images/homeicon.svg);
}

.clock-icon {
  background: url(../assets/images/clockicon.svg);
}

.phone-icon {
  background: url(../assets/images/phoneicon.svg);
}

.profile-icon {
  background: url(../assets/images/profileicon.svg);
}

.home-indicator {
  margin: 0 auto;
  width: 134px;
  height: 5px;
  background: #000000;
  border-radius: 100px;
}

/* mainpage */

.wrap {
  width: 375px;
  margin: 0 auto;
}

.wrap-bg {
  position: absolute;
  width: 375px;
  height: 812px;
  top: 0px;
  background: url(../assets/images/Mask.svg);
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
  background-color: rgba(252, 252, 252, 0.6);
  filter: blur(40px);
}

.cantainer-reg {
  display: flex;
  flex-direction: column;
}

input,
input:focus {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 29px;
  color: #3f414e;
  margin: 0 16px;
  margin-bottom: 12px;
  margin-top: 84px;
}

h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #3f414e;
  margin: 0 16px;
}

.input,
.input:focus {
  width: 343px;
  height: 62px;
  left: 0px;
  top: 95px;
  background: #f2f3f7;
  border-radius: 15px;
  align-self: center;
  margin: 0 16px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #a1a4b2;
  padding-left: 15px;
}

.forgot {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #4f5e7b;
  margin: 0 16px;
  margin-top: 6px;
  margin-bottom: 37px;
}

.sign-in,
.sign-in:focus {
  width: 343px;
  height: 62px;
  left: 0px;
  top: 301px;
  background: #2f80ed;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  align-self: center;
  margin: 0 16px;
}

.no-accaunt-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.no-accaunt {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #4f5e7b;
  margin-right: 5px;
}

.reistration > li > a {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2f80ed;
  text-align: center;
}

form {
  margin: 0 auto;
}

.media-social > li > a {
  display: block;
  width: 67px;
  height: 67px;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.media-social {
  display: flex;
  justify-content: space-between;
  width: 313px;
  align-self: center;
  margin-top: 121px;
  margin-bottom: 81px;
}

.media-google {
  background: #ffffff url(../assets/images/google.svg);
}

.media-facebook {
  background: #ffffff url(../assets/images/face.svg);
}

.media-vk {
  background: #ffffff url(../assets/images/vk.svg);
}

.media-apple {
  background: #ffffff url(../assets/images/apple.svg);
}

/* Catalog */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 13px;
  margin-bottom: 27px;
}

.page-header-arrow {
  display: block;
  width: 40px;
  height: 40px;
  background: #ffffff url(../assets/images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.page-header-catalog {
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  text-align: center;
  color: #3f414e;
}

.search-input,
.search-input:focus {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
  height: 45px;
  width: 343px;
  background: #ffffff;
  border: 1px solid #a1a4b2;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #a1a4b2;
  margin-left: 16px;
}

.smile-avatar {
  width: 35px;
  height: 35px;
  background: #f2f3f7;
  border-radius: 50%;
  margin: 0;
  cursor: pointer;
  object-fit: cover;
}

.section-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 32px;
}

.section-popular {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #3f414e;
  cursor: pointer;
}

.section-view-all {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #2f80ed;
  cursor: pointer;
}

/* КАРТОЧКИ ТОВАРОВ */
.section-vitrina {
  display: flex;
  margin-top: 17px;
  position: relative;
  left: 0;
  transition: all ease 0.5s;
}

.section-vitrina-line {
  overflow: hidden;
}

.card-item {
  margin-left: 16px;
}

.img-card {
  width: 110px;
  height: 110px;
  background: #f2f3f7;
  border-radius: 8%;
  margin: 0;
  cursor: pointer;
  object-fit: contain;
}

.card-title {
  width: 110px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #3f414e;
  margin: 0;
  margin-top: 8px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-price {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #3f414e;
  margin-top: 10px;
}

/* section 2 */

.section-wrap {
  margin-top: 33px;
  height: 283px;
  width: 375px;
  background: #f2f3f7;
  border-radius: 30px 30px 0px 0px;
  padding-top: 32px;
}

.section-nav {
  margin: 0 16px;
}

.section-nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  width: 76px;
  height: 26px;
  background: #ffffff;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.nav-item > a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #4f5e7b;
  vertical-align: -webkit-baseline-middle;
}

.nav-item-active {
  background: #2f80ed;
}

.nav-item-active > a {
  color: #ffffff;
}

/* витрина по категориям */
.category-vitrina-line {
  overflow: hidden;
}

.category-vitrina {
  display: flex;
  margin-top: 20px;
  padding-left: 24px;
  position: relative;
  left: 0;
  transition: all ease 0.5s;
}

.category-item {
  width: 326px;
  height: 178px;
  margin-right: 15px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px 24px;
}

.img-card-category {
  width: 117px;
  height: 135px;
  margin: 0;
  cursor: pointer;
  object-fit: contain;
}

.card-category-body {
  margin-right: 10px;
}

.card-category-title {
  width: 151px;
  height: 90px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #3f414e;
  overflow: hidden;
}

.detailed {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #2f80ed;
  cursor: pointer;
}

.detailed-arrow {
  display: block;
  width: 20px;
  height: 20px;
  background: #ffffff url(../assets/images/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.detailed-wrap {
  width: 113px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Account */

.page-header-avatar-wrap {
  border-bottom: 1px solid #f2f3f7;
}

.page-header-editor {
  display: block;
  width: 16px;
  height: 16px;
  background: #ffffff url(../assets/images/editor.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.page-header-user {
  margin-left: 16px;
  margin-top: 13px;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}

.big-avatar {
  width: 64px;
  height: 64px;
  background: #f2f3f7;
  border-radius: 50%;
  margin: 0;
  cursor: pointer;
  object-fit: cover;
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 14px;
}

.user-name-mail {
  margin-left: 19px;
}

.user-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #3f414e;
}

.user-mail {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #a1a4b2;
}

.btn-sign-out {
  margin-top: 52px;
  margin-bottom: 424px;
}
